<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
           
        }
        h1 {
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p {
            font-size: 15px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to my server 🤫</h1>
    <p>This server is running with Flask and SQLAlchemy</p>
    <p>This server only can display of all user in this company</p>
    <p>
        <a href="http://127.0.0.1:5000/users">View All Users</a>
    </p>
</body>
</html>
